.calculator {
  width: 330px;
  height: 397px;
  border-radius: 10px;
  border: solid 3px #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  backdrop-filter: blur(2px);
}
.calculator__output {
  background-color: white;
  height: 60px;
  width: 90%;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator__buttons {
  background-color: white;
  width: 90%;
  height: 310px;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 5px;
}
.clear__and__enter {
  text-align: center;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
}
.clear__and__enter button {
  border-radius: 10px;
  width: 125px;
  height: 50px;
  background-color: rgba(255, 211, 182, 0.3);
  border: 1px solid rgba(255, 211, 182, 1);
}
.button__row {
  text-align: center;
  height: 50px;
  margin: 5px;
}
.button__row button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 170, 165, 0.2);
  border: 1px solid rgba(255, 170, 165, 1);
}

.twoblock {
  border-radius: 10px;
  width: 125px;
  height: 50px;
}
